 .card.navcard{
	  margin:0;
	  background-color:#26a69a;
	  height:60px;
	  box-shadow:none;
  }
  .card.navcard.card-content{
	  color:#fff;
	  width:100%;
	  
  }
  #titletext{
	  color:#fff;
	  font-family: 'Josefin Sans', sans-serif;
	  font-size:20px;
	  position:relative;
	  float:left;
	  top:-8px;
  }
  
  
  